* {
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
}
main {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    height: 300px;
    border: 2px solid green;
    padding: 1px;
}
.grid-cell {
    width: 96px;
    height: 96px;
    border: 1px solid blue;
    margin: 1px;
}
.grid-cell:hover {
    background: orange;
}
li.pointer {
    cursor: pointer;
  }
  li:hover {
    background-color: #ccc;
  }